<div class="on-the-map-filter">
    <div>
        <mat-form-field>
            <mat-select placeholder="Выберите категорию" [(value)]="activeCategory">
                <mat-option *ngFor="let category of categories" [value]="category">
                {{ category.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field *ngIf="activeCategory">
            <mat-select placeholder="Выберите подкатегорию" [(value)]="activeSubCategory" (selectionChange)="fireSubCategory()">
                <mat-option *ngFor="let subcategory of activeCategory.subcategories" [value]="subcategory">
                {{ subcategory.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>