<div class="home">
    <div class="map">
        <agm-map [latitude]="latitude" [longitude]="longitude">
            <agm-marker *ngFor="let place of filteredCategories" [latitude]="place.location.coordinates[0]" [longitude]="place.location.coordinates[1]" (markerClick)="onPlaceCkick(place)">

            </agm-marker>
        </agm-map>
        <categories [categories]="categories" (onSubcategorySelect)="onChangeSubcateroty($event)">

        </categories>
    </div>
    <div class="navigation">
        <div *ngFor="let filteredCategory of filteredCategories">
            <place-summary [info]="filteredCategory">

            </place-summary>
        </div>
    </div>
</div>
